.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main h1 {
  text-align: center;
  margin: 0;
  color: #ffff;
  font-size: 3.5rem;
}

.main {
  color: #ffff;
}

@media (min-aspect-ratio: 16/9) {
  .main {
    background-image: url('../../assets/main_fullHD.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade 2s;
    /* filter: blur(8px); */
  }
}

@media (max-aspect-ratio: 16/9) {
  .main {
    background-image: url('../../assets/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade 2s;
  }
}

@keyframes fade {
  0% {
    opacity: 0.7; /* Начальная прозрачность 0 (полностью прозрачный) */
  }
  100% {
    opacity: 1; /* Возвращаемся к полностью прозрачному состоянию */
  }
}
